body{
    padding-top: 4.5rem; 
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 800 !important;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}    

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 5rem !important; 
}

#mainNavbar .navbar-brand{
    font-size: 2rem;
    font-weight: 100;
}

#mainNavbar a:hover{
    text-decoration: underline;
}

#border{
    border-top: solid 4px black;
}

h5{
    font-weight: 800 !important;
}